pre {
    counter-reset: line-numbering;
    font-family: Menlo, Monaco, monospace;
    padding: 5px;
    border-radius: 3px;
    word-break: break-word;
    height: 200px;
    overflow: hidden;
  
    .numbering {
      &:before {
        content: counter(line-numbering);
        counter-increment: line-numbering;
        padding-right: 0.5em;
        text-align: right;
        opacity: 0.5;
      }
    }
  }
  